In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
def remove_comma_and_convert_to_int(value):
    value_without_comma = value.replace(",", "")
    return int(value_without_comma)

In [3]:
wc_df = pd.read_csv('서울시설공단_서울월드컵경기장 주경기장 사용자 통계_20221231.csv', encoding = 'cp949')
wc_df

,연번,경기(행사) 일시,구 분,경기(행사) 종류,경기(행사) 내용,주 최,관람인원(명),수입금(원),사용일수(일)
0,1,2015-02-17 19:30,기타축구,ACL,ACL(vs하노이T&T FC),GS스포츠,6718.0,23835150.0,3
1,2,2015-03-04 19:30,기타축구,ACL,ACL(vs가시마앤틀러스),GS스포츠,5790.0,27579990.0,2
2,3,2015-03-14 14:00,K리그,K리그 클래식,K리그 클래식(vs전북),GS스포츠,32516.0,53033020.0,1
3,4,2015-03-18 19:30,기타축구,ACL,ACL(vs웨스턴시드니),GS스포츠,5645.0,26955470.0,2
4,5,2015-03-31 20:00,국가대표,국가대표팀 친선경기,친선경기(vs뉴질랜드),대한축구협회,28574.0,152907970.0,3
...,...,...,...,...,...,...,...,...,...
275,276,2022-10-01 14:00,K리그,K리그1,2022 K리그1 파이널 서울 vs 대구,(주)GS스포츠,8111.0,44094870.0,1
276,277,2022-10-12 19:30,K리그,K리그1,2022 K리그1 파이널 서울 vs 김천,(주)GS스포츠,4572.0,38164400.0,1
277,278,2022-10-16 19:00,K리그,K리그1,2022 K리그1 파이널 서울 vs 성남,(주)GS스포츠,7746.0,51441270.0,1
278,279,2022-10-17 19:00,K리그,FA컵,2022 하나은행 FA컵 결승전(1차전) FC서울 VS 전북,(주)GS스포츠,14705.0,37386490.0,1
279,280,2022-11-26 15:00,기타축구,제12회 한일 국회의원 축구대회,제12회 한일 국회의원 축구대회,국회사무처(국제국 아태과),120.0,3435160.0,1

In [4]:
wc_df = pd.read_csv('서울시설공단_서울월드컵경기장 주경기장 사용자 통계_20221231.csv', encoding = 'cp949')
wc_df

,연번,경기(행사) 일시,구 분,경기(행사) 종류,경기(행사) 내용,주 최,관람인원(명),수입금(원),사용일수(일)
0,1,2015-02-17 19:30,기타축구,ACL,ACL(vs하노이T&T FC),GS스포츠,6718.0,23835150.0,3
1,2,2015-03-04 19:30,기타축구,ACL,ACL(vs가시마앤틀러스),GS스포츠,5790.0,27579990.0,2
2,3,2015-03-14 14:00,K리그,K리그 클래식,K리그 클래식(vs전북),GS스포츠,32516.0,53033020.0,1
3,4,2015-03-18 19:30,기타축구,ACL,ACL(vs웨스턴시드니),GS스포츠,5645.0,26955470.0,2
4,5,2015-03-31 20:00,국가대표,국가대표팀 친선경기,친선경기(vs뉴질랜드),대한축구협회,28574.0,152907970.0,3
...,...,...,...,...,...,...,...,...,...
275,276,2022-10-01 14:00,K리그,K리그1,2022 K리그1 파이널 서울 vs 대구,(주)GS스포츠,8111.0,44094870.0,1
276,277,2022-10-12 19:30,K리그,K리그1,2022 K리그1 파이널 서울 vs 김천,(주)GS스포츠,4572.0,38164400.0,1
277,278,2022-10-16 19:00,K리그,K리그1,2022 K리그1 파이널 서울 vs 성남,(주)GS스포츠,7746.0,51441270.0,1
278,279,2022-10-17 19:00,K리그,FA컵,2022 하나은행 FA컵 결승전(1차전) FC서울 VS 전북,(주)GS스포츠,14705.0,37386490.0,1
279,280,2022-11-26 15:00,기타축구,제12회 한일 국회의원 축구대회,제12회 한일 국회의원 축구대회,국회사무처(국제국 아태과),120.0,3435160.0,1

In [5]:
prec_df = pd.read_csv('강수량 2015.02~2022.11.csv', encoding = 'cp949')
prec_df

              날짜   지점  강수량(mm)
0     2015-02-17  108      0.5
1     2015-02-18  108      0.0
2     2015-02-19  108      NaN
3     2015-02-20  108      NaN
4     2015-02-21  108      8.0
...          ...  ...      ...
2840  2022-11-27  108      NaN
2841  2022-11-28  108     19.5
2842  2022-11-29  108      3.8
2843  2022-11-30  108      NaN
2844  2022-12-01  108      NaN

[2845 rows x 3 columns]

In [6]:
temp_df = pd.read_csv('기온 2015.02~2022.11.csv', encoding = 'cp949')
temp_df

                날짜     지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     \t2015-02-17  108.0      1.9      0.5      4.1
1     \t2015-02-18  108.0      0.8     -1.5      3.3
2     \t2015-02-19  108.0      2.2     -2.7      8.6
3     \t2015-02-20  108.0      5.2     -1.3     11.4
4     \t2015-02-21  108.0      5.7      4.8      6.7
...            ...    ...      ...      ...      ...
2836  \t2022-11-23  108.0     10.8      6.8     15.2
2837  \t2022-11-24  108.0      9.4      5.9     14.1
2838  \t2022-11-25  108.0     12.3      7.1     17.8
2839  \t2022-11-26  108.0      6.7      1.0     12.9
2840            \t    NaN      NaN      NaN      NaN

[2841 rows x 5 columns]

In [7]:
temp_df.iloc[2][0]

'\t2015-02-19'

In [8]:
for i in range(len(temp_df)):
    temp_df.loc[i, temp_df.columns[0]] = temp_df.loc[i, temp_df.columns[0]].replace('\t', '')
temp_df

              날짜     지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     2015-02-17  108.0      1.9      0.5      4.1
1     2015-02-18  108.0      0.8     -1.5      3.3
2     2015-02-19  108.0      2.2     -2.7      8.6
3     2015-02-20  108.0      5.2     -1.3     11.4
4     2015-02-21  108.0      5.7      4.8      6.7
...          ...    ...      ...      ...      ...
2836  2022-11-23  108.0     10.8      6.8     15.2
2837  2022-11-24  108.0      9.4      5.9     14.1
2838  2022-11-25  108.0     12.3      7.1     17.8
2839  2022-11-26  108.0      6.7      1.0     12.9
2840                NaN      NaN      NaN      NaN

[2841 rows x 5 columns]

In [9]:
def merge_datasets(df1, df2, date_column):
    merged_df = pd.merge(df1, df2, on=date_column, how='inner')
    return merged_df
# "날짜"가 같으면 merge

In [10]:
merge_df = merge_datasets(prec_df, temp_df, '날짜' )
merge_df

              날짜  지점_x  강수량(mm)   지점_y  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     2015-02-17   108      0.5  108.0      1.9      0.5      4.1
1     2015-02-18   108      0.0  108.0      0.8     -1.5      3.3
2     2015-02-19   108      NaN  108.0      2.2     -2.7      8.6
3     2015-02-20   108      NaN  108.0      5.2     -1.3     11.4
4     2015-02-21   108      8.0  108.0      5.7      4.8      6.7
...          ...   ...      ...    ...      ...      ...      ...
2835  2022-11-22   108      0.0  108.0     10.7      7.0     13.7
2836  2022-11-23   108      0.0  108.0     10.8      6.8     15.2
2837  2022-11-24   108      NaN  108.0      9.4      5.9     14.1
2838  2022-11-25   108      1.7  108.0     12.3      7.1     17.8
2839  2022-11-26   108      NaN  108.0      6.7      1.0     12.9

[2840 rows x 7 columns]

In [11]:
wc_df

,연번,경기(행사) 일시,구 분,경기(행사) 종류,경기(행사) 내용,주 최,관람인원(명),수입금(원),사용일수(일)
0,1,2015-02-17 19:30,기타축구,ACL,ACL(vs하노이T&T FC),GS스포츠,6718.0,23835150.0,3
1,2,2015-03-04 19:30,기타축구,ACL,ACL(vs가시마앤틀러스),GS스포츠,5790.0,27579990.0,2
2,3,2015-03-14 14:00,K리그,K리그 클래식,K리그 클래식(vs전북),GS스포츠,32516.0,53033020.0,1
3,4,2015-03-18 19:30,기타축구,ACL,ACL(vs웨스턴시드니),GS스포츠,5645.0,26955470.0,2
4,5,2015-03-31 20:00,국가대표,국가대표팀 친선경기,친선경기(vs뉴질랜드),대한축구협회,28574.0,152907970.0,3
...,...,...,...,...,...,...,...,...,...
275,276,2022-10-01 14:00,K리그,K리그1,2022 K리그1 파이널 서울 vs 대구,(주)GS스포츠,8111.0,44094870.0,1
276,277,2022-10-12 19:30,K리그,K리그1,2022 K리그1 파이널 서울 vs 김천,(주)GS스포츠,4572.0,38164400.0,1
277,278,2022-10-16 19:00,K리그,K리그1,2022 K리그1 파이널 서울 vs 성남,(주)GS스포츠,7746.0,51441270.0,1
278,279,2022-10-17 19:00,K리그,FA컵,2022 하나은행 FA컵 결승전(1차전) FC서울 VS 전북,(주)GS스포츠,14705.0,37386490.0,1
279,280,2022-11-26 15:00,기타축구,제12회 한일 국회의원 축구대회,제12회 한일 국회의원 축구대회,국회사무처(국제국 아태과),120.0,3435160.0,1

In [12]:
merge_df["날짜"]

0       2015-02-17
1       2015-02-18
2       2015-02-19
3       2015-02-20
4       2015-02-21
           ...
2835    2022-11-22
2836    2022-11-23
2837    2022-11-24
2838    2022-11-25
2839    2022-11-26
Name: 날짜, Length: 2840, dtype: object

In [13]:
def merge_datasets_by_date(df1, df2, datetime_column, date_column):
    df1[date_column] = pd.to_datetime(df1[date_column]).dt.date
    df2[datetime_column] = pd.to_datetime(df2[datetime_column]).dt.date
    merged_df = pd.merge(df1, df2, left_on=date_column, right_on=datetime_column, how='inner')
    return merged_df

# 날짜가 같으면 merge

In [14]:
print(merge_df.columns)

Index(['날짜', '지점_x', '강수량(mm)', '지점_y', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)'], dtype='object')

In [15]:
merged_data = merge_datasets_by_date(merge_df, wc_df, '경기(행사) 일시', '날짜')
merged_data

,날짜,지점_x,강수량(mm),지점_y,평균기온(℃),최저기온(℃),최고기온(℃),연번,경기(행사) 일시,구 분,경기(행사) 종류,경기(행사) 내용,주 최,관람인원(명),수입금(원),사용일수(일)
0,2015-02-17,108,0.5,108.0,1.9,0.5,4.1,1,2015-02-17,기타축구,ACL,ACL(vs하노이T&T FC),GS스포츠,6718.0,23835150.0,3
1,2015-03-04,108,NaN,108.0,-2.1,-4.6,1.4,2,2015-03-04,기타축구,ACL,ACL(vs가시마앤틀러스),GS스포츠,5790.0,27579990.0,2
2,2015-03-14,108,NaN,108.0,4.3,-1.2,11.6,3,2015-03-14,K리그,K리그 클래식,K리그 클래식(vs전북),GS스포츠,32516.0,53033020.0,1
3,2015-03-18,108,1.5,108.0,10.7,8.4,14.4,4,2015-03-18,기타축구,ACL,ACL(vs웨스턴시드니),GS스포츠,5645.0,26955470.0,2
4,2015-03-31,108,2.5,108.0,12.9,10.0,14.9,5,2015-03-31,국가대표,국가대표팀 친선경기,친선경기(vs뉴질랜드),대한축구협회,28574.0,152907970.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2022-10-01,108,NaN,108.0,20.9,14.4,27.6,276,2022-10-01,K리그,K리그1,2022 K리그1 파이널 서울 vs 대구,(주)GS스포츠,8111.0,44094870.0,1
276,2022-10-12,108,NaN,108.0,13.5,6.5,20.6,277,2022-10-12,K리그,K리그1,2022 K리그1 파이널 서울 vs 김천,(주)GS스포츠,4572.0,38164400.0,1
277,2022-10-16,108,NaN,108.0,16.9,15.1,20.5,278,2022-10-16,K리그,K리그1,2022 K리그1 파이널 서울 vs 성남,(주)GS스포츠,7746.0,51441270.0,1
278,2022-10-17,108,NaN,108.0,11.2,7.4,15.1,279,2022-10-17,K리그,FA컵,2022 하나은행 FA컵 결승전(1차전) FC서울 VS 전북,(주)GS스포츠,14705.0,37386490.0,1
279,2022-11-26,108,NaN,108.0,6.7,1.0,12.9,280,2022-11-26,기타축구,제12회 한일 국회의원 축구대회,제12회 한일 국회의원 축구대회,국회사무처(국제국 아태과),120.0,3435160.0,1

In [16]:
merged_data
merged_data.to_csv('merged_data.csv',encoding = 'cp949')

,날짜,지점_x,강수량(mm),지점_y,평균기온(℃),최저기온(℃),최고기온(℃),연번,경기(행사) 일시,구 분,경기(행사) 종류,경기(행사) 내용,주 최,관람인원(명),수입금(원),사용일수(일)
0,2015-02-17,108,0.5,108.0,1.9,0.5,4.1,1,2015-02-17,기타축구,ACL,ACL(vs하노이T&T FC),GS스포츠,6718.0,23835150.0,3
1,2015-03-04,108,NaN,108.0,-2.1,-4.6,1.4,2,2015-03-04,기타축구,ACL,ACL(vs가시마앤틀러스),GS스포츠,5790.0,27579990.0,2
2,2015-03-14,108,NaN,108.0,4.3,-1.2,11.6,3,2015-03-14,K리그,K리그 클래식,K리그 클래식(vs전북),GS스포츠,32516.0,53033020.0,1
3,2015-03-18,108,1.5,108.0,10.7,8.4,14.4,4,2015-03-18,기타축구,ACL,ACL(vs웨스턴시드니),GS스포츠,5645.0,26955470.0,2
4,2015-03-31,108,2.5,108.0,12.9,10.0,14.9,5,2015-03-31,국가대표,국가대표팀 친선경기,친선경기(vs뉴질랜드),대한축구협회,28574.0,152907970.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2022-10-01,108,NaN,108.0,20.9,14.4,27.6,276,2022-10-01,K리그,K리그1,2022 K리그1 파이널 서울 vs 대구,(주)GS스포츠,8111.0,44094870.0,1
276,2022-10-12,108,NaN,108.0,13.5,6.5,20.6,277,2022-10-12,K리그,K리그1,2022 K리그1 파이널 서울 vs 김천,(주)GS스포츠,4572.0,38164400.0,1
277,2022-10-16,108,NaN,108.0,16.9,15.1,20.5,278,2022-10-16,K리그,K리그1,2022 K리그1 파이널 서울 vs 성남,(주)GS스포츠,7746.0,51441270.0,1
278,2022-10-17,108,NaN,108.0,11.2,7.4,15.1,279,2022-10-17,K리그,FA컵,2022 하나은행 FA컵 결승전(1차전) FC서울 VS 전북,(주)GS스포츠,14705.0,37386490.0,1
279,2022-11-26,108,NaN,108.0,6.7,1.0,12.9,280,2022-11-26,기타축구,제12회 한일 국회의원 축구대회,제12회 한일 국회의원 축구대회,국회사무처(국제국 아태과),120.0,3435160.0,1

In [17]:
sub_df = pd.read_csv('서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv', encoding = 'cp949')
sub_df

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202305,1호선,동대문,900,25,12331,2188,9806,7379,14774,...,9301,555,2688,2,267,0,0,0,0,20230603
1,202305,1호선,동묘앞,211,2,3197,1140,3753,5206,7379,...,4201,88,1706,1,282,0,0,0,0,20230603
2,202305,1호선,서울역,708,37,8611,9912,13730,57527,43711,...,15133,2631,2693,0,228,0,0,0,0,20230603
3,202305,1호선,시청,90,3,2505,4754,4137,24662,8198,...,4344,354,933,0,25,0,0,0,0,20230603
4,202305,1호선,신설동,468,15,9034,2536,10317,8883,22069,...,9866,471,2168,1,1,0,0,0,0,20230603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59403,201501,중앙선,운길산,0,0,177,56,642,403,1292,...,633,3,222,0,0,0,0,0,0,20151223
59404,201501,중앙선,원덕,1,0,292,4,415,46,537,...,383,3,157,0,0,0,0,0,0,20151223
59405,201501,중앙선,중랑,14,1,4929,424,8539,2084,22160,...,6501,86,1617,0,0,0,0,0,0,20151223
59406,201501,중앙선,팔당,0,0,161,50,368,149,1227,...,336,8,85,0,0,0,0,0,0,20151223
59407,201501,중앙선,회기,436,3,10929,3067,23317,10430,65043,...,35702,767,9314,0,0,0,0,0,0,20151223